<div class="container-sm p-3" style="background-color: black">
    <form>
        <div class="mb-3">
            <label for="firstName" class="form-label text-light">First Name</label>
            <input type="email" class="form-control" id="firstName" aria-describedby="firstNameHelp">
            <div id="firstNameHelp" class="form-text">Please enter your first name</div>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label text-light">Last name</label>
            <input type="email" class="form-control" id="lastName" aria-describedby="emailHelp">
            <div id="lastNameHelp" class="form-text">Please enter your last name</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-light">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label text-light">Country</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Country</option>
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">India</option>
                <option value="usa">USA</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

