
<div class="container" style="background-color:black">
<nav class="navbar bg-gradient text-white sticky-top" style="background-color:black">
  <div class="nav justify-content-start"> 
    <h1 class="display-4 text-light">ECOMM</h1> </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="contact">Contact</a>
      </li>
    </ul>
</nav>
<router-outlet></router-outlet></div>