<div class="container text-light">


    <div class="container-sm mt-5 mb-5 pt-3 pb-3">
        <div class="row">
            <div class="col-4 pb-5 pt-5 justify-content-center">
            <p class="fs-1">Mastery</p>
            <p class="fs-2">in every thing</p>
            <p class="fs-4">We make EASIER</p>
            </div>
            <div class="col-8 ps-5 ">
                <img src="assets/resources/Learning-PNG-Free-Download.png" alt="Mastery" width="100%" height="100%">
            </div>
        </div>
    </div>
    
    <div class="section2">
        <div class="sectionp2pt1">
            <h2>323</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis minus incidunt recusandae suscipit esse
                est nihil, consectetur, sint ducimus, sapiente ratione tempore laboriosam provident cum eligendi
                voluptatum asperiores delectus similique.</p>
        </div>
        <div class="sectionp2pt1">
            <h2>12</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis minus incidunt recusandae suscipit esse
                est nihil, consectetur, sint ducimus, sapiente ratione tempore laboriosam provident cum eligendi
                voluptatum asperiores delectus similique.</p>
        </div>
        <div class="sectionp2pt1">
            <h2>100000</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis minus incidunt recusandae suscipit esse
                est nihil, consectetur, sint ducimus, sapiente ratione tempore laboriosam provident cum eligendi
                voluptatum asperiores delectus similique.</p>
        </div>
        <div class="sectionp2pt1">
            <h2>3</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis minus incidunt recusandae suscipit esse
                est nihil, consectetur, sint ducimus, sapiente ratione tempore laboriosam provident cum eligendi
                voluptatum asperiores delectus similique.</p>
        </div>
    </div>
    
    <div class="section3">
        <div class="section3pt1">
            <h2 style="color: black ;">Roadmap</h2>
            <p>Meant for young , it provides lots of useful tips…</p>
            <h3>Get a course</h3>
            <p>Make sure that you have a couse <br>no worries, we make it interesting for you</p>
        </div>
        <div class="section3pt2">
            <img src="./img-IP.png" style="height: 600px;" width="900px;" alt="book">
        </div>
    </div>
    <!-- <div class="row">
        <div class="coloum" style="background-image:url('blog.png');" >
            <button class="bt1" type="button"> Avi </button>     
        </div>
        <div class="coloum" style="background-image:url('blog.png');" >
            <button class="bt1" type="button"> Avi </button>     
        </div>
        <div class="coloum" style="background-image:url('blog.png');" >
            <button class="bt1" type="button"> Avi </button>     
        </div>
        <div class="coloum" style="background-image:url('blog.png');" >
            <button class="bt1" type="button"> Avi </button>     
        </div>
        <div class="coloum" style="background-image:url('blog.png');" >
            <button class="bt1" type="button"> Avi </button>     
        </div>
        <div class="coloum" style="background-image:url('blog.png');" >
            <button class="bt1" type="button"> Avi </button>     
        </div>
    </div> -->
    
    <div class="section4">
        <div class="section4head">
            <H2 class="section4head">Enroll For Our Course here</H2>
        </div>
        <div class="section4head2">
            <div class="section4pt1">
                <h3>Information</h3>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur reiciendis cum magni aperiam
                    veniam. Dolore sit, deleniti fugiat commodi culpa rerum eaque deserunt magni tempora, quaerat magnam
                    minus aliquam est!</P>
            </div>
            <div class="section4pt1">
                <h3>Information</h3>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur reiciendis cum magni aperiam
                    veniam. Dolore sit, deleniti fugiat commodi culpa rerum eaque deserunt magni tempora, quaerat magnam
                    minus aliquam est!</P>
            </div>
            <div class="section4pt1">
                <h3>Information</h3>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur reiciendis cum magni aperiam
                    veniam. Dolore sit, deleniti fugiat commodi culpa rerum eaque deserunt magni tempora, quaerat magnam
                    minus aliquam est!</P>
            </div>
            <div class="section4pt1">
                <h3>Information</h3>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur reiciendis cum magni aperiam
                    veniam. Dolore sit, deleniti fugiat commodi culpa rerum eaque deserunt magni tempora, quaerat magnam
                    minus aliquam est!</P>
            </div>
        </div>
    </div>
    
    
    <div class="section5">
        <div class="section5head">
            <H2 class="section5head">Testimonials</H2>
        </div>
        <div class="section5head2">
            <div class="section5pt1">
                <h3>Information</h3>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur reiciendis cum magni aperiam
                    veniam. Dolore sit, deleniti fugiat commodi culpa rerum eaque deserunt magni tempora, quaerat magnam
                    minus aliquam est!</P>
            </div>
            <div class="section5pt1">
                <h3>Information</h3>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur reiciendis cum magni aperiam
                    veniam. Dolore sit, deleniti fugiat commodi culpa rerum eaque deserunt magni tempora, quaerat magnam
                    minus aliquam est!</P>
            </div>
            <div class="section5pt1">
                <h3>Information</h3>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur reiciendis cum magni aperiam
                    veniam. Dolore sit, deleniti fugiat commodi culpa rerum eaque deserunt magni tempora, quaerat magnam
                    minus aliquam est!</P>
            </div>
            <div class="section5pt1">
                <h3>Information</h3>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur reiciendis cum magni aperiam
                    veniam. Dolore sit, deleniti fugiat commodi culpa rerum eaque deserunt magni tempora, quaerat magnam
                    minus aliquam est!</P>
            </div>
        </div>
    
</div>